<div class="col-md-6">
    <form method="post" action="/admin/add-product" enctype="multipart/form-data">
        <label for="name">Product Name</label>
        <input type="text" name="name" class="form-control">
        <label for="price">Price</label>
        <input type="number" name="price" class="form-control">
        <label for="name">Description</label>
        <input type="text" name="description" class="form-control"> <br>

        <label for="image">Product Image</label>
        <input type="file" name="image" class="form-control"><br>
        <button class="btn btn-success" type="submit">SUBMIT</button>

    </form>
</div>